p {
    margin-top: 0;
    margin-bottom: 0;
}
body {
    font-family: Roboto, Arial;
    background-color: rgb(246, 246, 246);
    margin: 0;
    padding-top: 81px;
    padding-left: 96px;
    padding-right: 24px;
    height: 1000px;
}
