
.thumbnail-1 {
    width: 100%;
    cursor: pointer;
}

.video-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 20px;
    cursor: pointer;
}
.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96 , 96 , 96);
}
.video-author {
    margin-bottom: 4px;
    cursor: pointer;
}

.profile-picture {
    width: 36px;
    border-radius: 40px;
    margin-right: 12px;
    cursor: pointer;
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 42px; 
}

@media (max-width: 870px ) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 871px) and (max-width: 1090px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1100px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
    
}

.video-time {
    position: absolute;
    right: 4px;
    bottom: 11px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 4px;
    border-radius: 2px;
}

.video-info-grid {
    display: flex;  
}
